[defaults]
inventory = inventory.yml
host_key_checking = True
interpreter_python = auto_silent
stdout_callback = default
retry_files_enabled = False

[ssh_connection]
pipelining = True #dont copy files just pipeline python code directly to intrpreter